@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --fundo: #000000;
    --texto-cor: #F6F6F6;
    --destaque: #22D4FD;
    --font-titulo: "Krona One", sans-serif;
    --font-comum: "Montserrat", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--fundo);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo{
    display: flex;
    align-items: center;
}

.container-texto-botao{
    gap: 1em;
}

.container__descricao{
    display: flex;
    flex-direction: column;
    margin: 0em 5em;
    max-width: 593px;
    gap: 3em;
}

.container__titulo{
    height: 168px;
    font-family: var(--font-titulo);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: var(--texto-cor);
}

.container__titulo strong{
    color: var(--destaque);
}

.container__texto{
    color: var(--texto-cor);
    font-family: var(--font-comum);
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    height: 144px;
    margin-bottom: 1em;
}

.container__botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    gap: 16px;
}

.botao__link{
    background-color: var(--destaque);
    color: var(--fundo);
    font-family: var(--font-comum);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding: 22px;
    border-radius: 16px;
    width: 280px;
    text-decoration: none;
}