@media screen and (max-width: 1023px) {
    .apresentacao{
        flex-direction: column-reverse;
    }

    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .cabecalho__menu__label{
        align-self: stretch;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho__menu--hamburguer{
        background-image: url("../img/menu-fechado.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 36px;
        height: 36px;
        display: inline-block;
    }

    .cabecalho__menu__botao--input:checked ~ .cabecalho__menu__label{
        background-color: var(--cor-terciaria);
    }

    .cabecalho__menu__botao--input:checked ~ .cabecalho__menu__label > .cabecalho__menu--hamburguer{
        background-image: url("../img/menu.svg");
    }

    .cabecalho__menu{
        margin: auto;
    }

    .img__perfil{
        align-self: center;
        position: static;
        margin: 2rem 0;
    }

    
}